<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:include="head"> </div>
<head >
    <title>关于</title>
</head>
<body>
<div class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="row "  >
        <div class="col-md-8">
            <div class="nav navbar-header">
                <a  class="navbar-brand" href="home">吉比特的网</a>
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navBar1,#navBar2,#navBar3">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

            </div>
            <div class="collapse navbar-collapse" id="navBar1">
                <ul class="nav nav-pills"  >
                    <li role="presentation" style="top: 5px"><a href="index">主页</a></li>
                    <li role="presentation" style="top: 5px"><a href="myInfo">了解我</a></li>
                    <li role="presentation" class="active" style="top: 5px"><a href="about">关于</a></li>
                    <li role="presentation" style="top: 5px"><a href="qustionnaire">问卷调查</a></li>
                    <li role="presentation"  class="navbar-right" style="top: 5px"><a href="login">登录</a></li>
                </ul>
            </div>
        </div>
        <div class="col-md-2">
            <div  class="collapse navbar-collapse" id="navBar2">
                <div class="header-sign-up" ><a href="regist" class="btn btn-success ref-signup ">注册</a></div>
            </div>
        </div>
        <div class="col-md-2">      <div  class="collapse navbar-collapse" id="navBar3"><p class="navbar-text" id="test"></p></div>
        </div>
    </div>
</div>

<br>
<br>
<div  align="center">
    <h3>当前完成进度</h3>
</div>
<div class="progress">
    <div class="progress-bar" role="progressbar" aria-valuenow="5" aria-valuemin="5" aria-valuemax="100" style="min-width: 2em;">
        5%
    </div>
</div>
<div class="row">
    <div class="col-md-4" style="top: 60px">
        <center><img src="../img/about/weChat.jpg" alt="加我微信！！" class="img-circle" width="380px" ></center>
        <br>
        <h1 class="media-heading" align="center">微信扫描二维码 加作者好友</h1>
    </div>
    <div class="col-md-4" style="top: 50px">
        <h1 class="media-heading" align="center">不定时完善中----</h1>
        <center><img src="../img/about/power.jpg" alt="给我力量！！" class="img-rounded" width="380px" ></center>
    </div>
    <div class="col-md-4">
        <center><img src="../img/about/github.jpg" alt="搜索加好友！！" class="img-rounded" width="380px" ></center>
        <h1 class="media-heading" align="center">github搜索用户 加好友</h1>
    </div>
</div>
<script>
    init();
    snow();
</script>
</body>
