<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:include="common/head"> </div>
<head >
    <meta charset="UTF-8">
    <title>待开发</title>

        <style>
        #a{
            position: fixed;
            top: 50%;
            left: 0px;
            right: 0px;
            bottom: 0px;
            margin: auto;
        }
    </style>

</head>
<body>
<div th:include="common/commonNavbar"> </div>
<br>
<div  align="center" id="a" >
    <h3 style="font-size: 50px" th:text="${param.msg} + '还没写'"></h3>
</div>

<script language="javascript">
    init();
    snow();
</script>
</body>
